.row {
    margin-top: 20px;
    display: flex;
}

.cell {
    justify-content: center;
    align-items: center;
    flex: 0 0 50%;
    text-align: center;
}

.cell p {
    margin: auto;
    width: 400px;
    font-size: 24px;
}

.cell img {
    width: 500px;
}
.slider {
  margin: 10px 50px;
  position: relative;
  overflow: hidden;
}

.slides {
  display: flex;
}

.slide {
  flex: 0 0 50%;
  position: relative;
  margin: 0 20px;
}
@media (max-width: 770px) {
  .row {
    flex-direction: column;
  }

  .cell p {
    font-size: 18px;
    width: 300px;
  }

  .cell img {
    width: 300px;
    margin: 10px 0;
  }

  .sl-im {
    height: auto;
  }

}

.sl-im {
  width: 100%;
  height: 450px;
}

.btn-ch{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #333;
  color: white;
    border: none;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.slide p {
  color: white;
  position: absolute;
  top: 70%;
  background: #00000094;
  padding: 10px;
  text-align: center;
}

@media (max-width: 1000px) {
  .slide p {
      position: absolute;
      top: 60%;
  }
}

@media (max-width: 770px) {
  .slide p {
      position: absolute;
  }
}

@media (max-width: 430px) {
  .slide p {
      font-size: 14px;
      position: absolute;
      top: 60%;
  }
}

@media (max-width: 330px) {
  .slide p {
      position: absolute;
      top: 60%;
  }
}

